.MenuButton {
    transition: transform 0.2s ease-in-out;
}

.MenuButton:hover {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

@media (min-width: 500px) {
    .MenuButton {
        display: none;
    }
}

